<%- include("partials/header"); -%>

    <div class="container doneby">
      <p>DBMS Mini Project Done by:- Chaitanya S, Aditi J R, Nandish N</p>
    </div>
    <div class="container name">
    </div>

<%- include("partials/footer"); -%>
