<%- include("partials/header"); -%>
<div class="container">
  <h1>Update Player Details</h1>
  <form class="col-auto" action="/update/:playerId" method="post">
    <div class="">
      <div class="form-group row">
        <div class="col-xs-4 input-css">
          <label>Id</label>
          <input class="form-control mr-sm-2" type="text" name="playerId">
        </div>
        <div class="col-xs-4 input-css">
          <label>Image</label>
          <input class="form-control mr-sm-2" type="text" name="playerImage">
        </div>
        <div class="col-xs-4 input-css">
          <label>Name</label>
          <input class="form-control mr-sm-2" type="text" name="playerName">
        </div>
        <div class="col-xs-4 input-css">
          <label>Age</label>
          <input class="form-control mr-sm-2" type="text" name="playerAge">
        </div>
      </div>
      <div class="">
        <div class="form-group row">
          <h2 class="h2-css">Stats:-</h2>
          <div class="col-xs-4 input-css">
            <label>Dribbling</label>
            <input class="form-control mr-sm-2" type="text" name="playerDribbling">
          </div>
          <div class="col-xs-4 input-css">
            <label>Penalties</label>
            <input class="form-control mr-sm-2" type="text" name="playerPenalties">
          </div>
          <div class="col-xs-4 input-css">
            <label>Goals</label>
            <input class="form-control mr-sm-2" type="text" name="playerGoals">
          </div>
        </div>
      </div>
      <div class="">
        <div class="form-group row">
          <h2 class="h2-css">Club Details:-</h2>
          <div class="col-xs-4 input-css">
            <label>Club</label>
            <input class="form-control mr-sm-2" type="text" name="playerClub">
          </div>
          <div class="col-xs-4 input-css">
            <label>Nationality</label>
            <input class="form-control mr-sm-2" type="text" name="playerNationality">
          </div>
          <div class="col-xs-4 input-css">
            <label>Coach</label>
            <input class="form-control mr-sm-2" type="text" name="playerCoach">
          </div>
        </div>
      </div>
      <div class="">
        <div class="form-group row">
          <h2 class="h2-css">Salary Details:-</h2>
          <div class="col-xs-4 input-css">
            <label>Salary</label>
            <input class="form-control mr-sm-2" type="text" name="playerWage">
          </div>
          <div class="col-xs-4 input-css">
            <label>Networth</label>
            <input class="form-control mr-sm-2" type="text" name="playerNetworth">
          </div>
        </div>
      </div>
      <div class="">
        <div class="form-group row">
          <h2 class="h2-css">Health Details:-</h2>
          <div class="col-xs-4 input-css">
            <label>Stamina</label>
            <input class="form-control mr-sm-2" type="text" name="playerStamina">
          </div>
          <div class="col-xs-4 input-css">
            <label>Strength</label>
            <input class="form-control mr-sm-2" type="text" name="playerStrength">
          </div>
          <div class="col-xs-4 input-css">
            <label>Injuries</label>
            <input class="form-control mr-sm-2" type="text" name="playerInjuries">
          </div>
        </div>
      </div>
    </div>
    <div class="btn-css">
      <button onclick="success()" class="btn-light btn btn-primary" type="submit" name="button">Submit</button>
    </div>
  </form>
</div>

<script>
  function success(){
    swal("Wohoo!", "successfully updated", "success")
  }
</script>

<%- include("partials/footer"); -%>
